ServiciosVenta/src/NuevoServicioPago/148.205.38.102_8080/ServicioPago/ServicioPagoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pasarelapago.webservice.adictosaltrabajo.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pasarelapago.webservice.adictosaltrabajo.com/" name="ServicioPagoService">
<types>
<xsd:schema>
<xsd:import namespace="http://pasarelapago.webservice.adictosaltrabajo.com/" schemaLocation="http://148.205.38.102:8080/ServicioPago/ServicioPagoService?xsd=1"/>
</xsd:schema>
</types>
<message name="cambiaEstado">
<part name="parameters" element="tns:cambiaEstado"/>
</message>
<message name="cambiaEstadoResponse">
<part name="parameters" element="tns:cambiaEstadoResponse"/>
</message>
<message name="RegresaURL">
<part name="parameters" element="tns:RegresaURL"/>
</message>
<message name="RegresaURLResponse">
<part name="parameters" element="tns:RegresaURLResponse"/>
</message>
<message name="facturar">
<part name="parameters" element="tns:facturar"/>
</message>
<message name="facturarResponse">
<part name="parameters" element="tns:facturarResponse"/>
</message>
<message name="regresaEstado">
<part name="parameters" element="tns:regresaEstado"/>
</message>
<message name="regresaEstadoResponse">
<part name="parameters" element="tns:regresaEstadoResponse"/>
</message>
<portType name="ServicioPago">
<operation name="cambiaEstado">
<input wsam:Action="http://pasarelapago.webservice.adictosaltrabajo.com/ServicioPago/cambiaEstadoRequest" message="tns:cambiaEstado"/>
<output wsam:Action="http://pasarelapago.webservice.adictosaltrabajo.com/ServicioPago/cambiaEstadoResponse" message="tns:cambiaEstadoResponse"/>
</operation>
<operation name="RegresaURL">
<input wsam:Action="http://pasarelapago.webservice.adictosaltrabajo.com/ServicioPago/RegresaURLRequest" message="tns:RegresaURL"/>
<output wsam:Action="http://pasarelapago.webservice.adictosaltrabajo.com/ServicioPago/RegresaURLResponse" message="tns:RegresaURLResponse"/>
</operation>
<operation name="facturar">
<input wsam:Action="http://pasarelapago.webservice.adictosaltrabajo.com/ServicioPago/facturarRequest" message="tns:facturar"/>
<output wsam:Action="http://pasarelapago.webservice.adictosaltrabajo.com/ServicioPago/facturarResponse" message="tns:facturarResponse"/>
</operation>
<operation name="regresaEstado">
<input wsam:Action="http://pasarelapago.webservice.adictosaltrabajo.com/ServicioPago/regresaEstadoRequest" message="tns:regresaEstado"/>
<output wsam:Action="http://pasarelapago.webservice.adictosaltrabajo.com/ServicioPago/regresaEstadoResponse" message="tns:regresaEstadoResponse"/>
</operation>
</portType>
<binding name="ServicioPagoPortBinding" type="tns:ServicioPago">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cambiaEstado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegresaURL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="facturar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="regresaEstado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioPagoService">
<port name="ServicioPagoPort" binding="tns:ServicioPagoPortBinding">
<soap:address location="http://148.205.38.102:8080/ServicioPago/ServicioPagoService"/>
</port>
</service>
</definitions>