ServiciosVenta/src/ServicioPago/148.205.38.102_8080/ServicioPago/ServicioPagoService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://wsPago/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wsPago/">

<xs:element name="RegresaURL" type="tns:RegresaURL"/>

<xs:element name="RegresaURLResponse" type="tns:RegresaURLResponse"/>

<xs:element name="cambiaEstado" type="tns:cambiaEstado"/>

<xs:element name="cambiaEstadoResponse" type="tns:cambiaEstadoResponse"/>

<xs:element name="facturar" type="tns:facturar"/>

<xs:element name="facturarResponse" type="tns:facturarResponse"/>

<xs:element name="regresaEstado" type="tns:regresaEstado"/>

<xs:element name="regresaEstadoResponse" type="tns:regresaEstadoResponse"/>

<xs:complexType name="cambiaEstado">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cambiaEstadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="facturar">
<xs:sequence>
<xs:element name="idCliente" type="xs:string" minOccurs="0"/>
<xs:element name="cuantia" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="facturarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="regresaEstado">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="regresaEstadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegresaURL">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="RegresaURLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>